:host{
    .orderList{
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        place-content: center;
        height: 20vh;
        
        .arrows{
            place-self: center;
            &:hover{
                color: #673ab7;
            }
        }
    }
    .oList{
        max-width: 120vh;
        max-height: 19vh;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    
    .RightTile{
        padding: 10px;
    }
    .toTheLeft{
       display: flex;
       justify-content: end;
       margin: 9px auto;
       width: 90%;
       button:hover{
           color: rgb(0, 0, 0);
       }
   } 

   .myGrid{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 10px;
       place-content: center;
   }

   .myFlex{
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       width: 100%;
   }
}