:host{
   .choose-flights{
       display: grid;
    //    grid-template-columns: 
       place-content: center;

       background-color: white;
       border-radius: 10px;
       padding: 20px;
       margin: 20px auto;
       
       button{ 
        height: fit-content;
        width: fit-content;
        place-self: center;
        padding: 10px;
        border-radius: 10px;
        background-color: aqua;
        &:hover{
            background-color: rgb(0, 187, 187);
        }
    }
       
   }
}