:host{
   .choose-flights{
       display: block;
       background-color: white;
       border: 2px solid gray;
       border-radius: 10px;
       width: 90%;
       height: auto;
       margin: 0 auto;
   }
}