
    <div class="homepage-image">
        <div class="homepage-text">
            <h1 class="text-capitalize title">vica - assist</h1>
            <div class="content text-dark p-2">
                <h1 class="text-capitalize">Your fateful assistant for a perfect vication ✈</h1>
            </div>
            <button mat-raised-button color="primary" class="text-capitalize md-shadow-animated shadow button btn" (click)="registerPage.click()">Start Here</button>
            <a routerLink="homepage" style="display: none;" #registerPage></a>
        </div>
    </div>
    <div class="container-fluid bg-black">
        <div class="row">
            <div class="col text-white text-wrap">
                what do we offer? <br>
                how to start? <br>
                want to be an agent? <br>
            </div>
        </div>
    </div>