
    <div class="homepage-image">
        <div class="homepage-text">
            <h1 class="text-capitalize title title-letter-spacing-animation">vica - assist</h1>
            <div class="content text-dark p-2">
                <h1 class="text-capitalize">Your fateful assistant for a perfect vication ✈</h1>
            </div>
            <button mat-raised-button color="primary" class="text-capitalize md-shadow-animated shadow button btn" (click)="registerPage.click()">Start Here</button>
            <a routerLink="homepage" style="display: none;" #registerPage></a>
        </div>
    </div>
    <div class="container-fluid background2">
        <div class="row">
            <h1 class="sub-title">What do We Offer?</h1>
            <div>
                <mat-list>
                    <mat-list-item class="content">
                        Get your perfect vacation using the latest technology! All you need to do is fill in the crutioul details and our team will find the best flights and hotels for you!
                    </mat-list-item>
                    <mat-list-item class="content">
                        Easy to read, all in one place and tailored to your spacific needs!                         
                        Create an account, log in and place your order. Yes, it's that simple.
                    </mat-list-item>
                   
                </mat-list>
                
            </div>
        </div>
    </div>