:host{
    
    .choose-hotels{
        display: block;
        background-color: white;
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 5vh;
        h1{
            text-align: center;
            text-decoration: underline;
        }
    }
     
}