@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alfa+Slab+One&family=Caveat:wght@500&family=Indie+Flower&family=Permanent+Marker&family=Raleway:wght@300&family=Righteous&family=Volkhov&display=swap');

:host{
    font-size: 24px;
    .size1{
        font-size: 4em;
    }
    .size2{
        font-size: 3em;
    }
    .size3{
        font-size: 2em;
    }
    .title{
        margin-top: 20px;
        padding: 5px;
        font-family: 'Permanent Marker', cursive;
        letter-spacing: 2px;
        color: #673ab7;
        text-shadow: 2px 1px 1px #4c2a87;
    }
    .sub-title{
        margin-top: 20px;
        padding: 5px;
        font-family: 'Permanent Marker', cursive;
        letter-spacing: 2px;
        color: #673ab7;
        text-shadow: 2px 1px 1px #4c2a87;
        font-size: 2em;
    }
    .content{
        text-shadow: 1px 1px 1px #4c2a87;
        font-size: 20px;
    }
    .sliding-title{
        position: relative;
        animation-name: offer;
        animation-duration: 2s;

        @keyframes offer {
            from {
                top: 0px;
                left: 50px;
                letter-spacing: 2px;

            }
            to {
                top: 0px;
                left: 0px;
                letter-spacing: 2px;

            }
          }
    }
    .title-letter-spacing-animation{
        position: relative;
        justify-content: center;
        align-items: center;
        place-content: center;
        animation-name: offer;
        animation-duration: 2s;

        @keyframes offer {
            from {
                top: 0px;
                left: 0px;
                letter-spacing: 10px;
            }
            to {
                top: 0px;
                left: 0px;
            }
          }
    }

    .choices{
        margin-top: 50px;
        mat-grid-tile {
            background: lightblue;
        }
        button{
            font-size: 20px;
            padding: 10px;
        }
    }
}