<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <h2 class="text-center mat-headline m-2">Homepage</h2>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-md-3 bg-light m-2 center border">
      <div class="container">
        <h2 class="text-center m-2">My Orders</h2>

        <div class="status mx-4" *ngIf="status">
          <span class="mat-card bg-dark text-white">
            Order Status: Pending <span class="fa fa-arrow-alt-circle-down"></span>
          </span> 
        </div>

<!-- *ngFor="let item of stream | async as list" -->

        <ng-container *ngFor="let pendingItem of pendingOrders$ | async as list">
         
              <ordersList 
                [requestID]="pendingItem.id"
                [status]="pendingItem.status"
                (item)="selectedItem($event)"
              >
              </ordersList>
         
        </ng-container>
        </div>
        <div class="container">

          <div class="status mx-4" *ngIf="status">
            <span class="mat-card bg-dark text-white">
              Order Status: Finished <span class="fa fa-arrow-alt-circle-down"></span>
            </span>
          </div>

        <ng-container *ngFor="let Finisheditem of finishedOrders$ | async as list">
         
          <ordersList 
              [requestID]="Finisheditem.id"
              [status]="Finisheditem.status"
              (item)="selectedItem($event)"
          >
          </ordersList>
     
        </ng-container>

      </div>
    </div>
    <div class="container col-md-5 bg-light m-2 justify-content-center border">
      <userRequests></userRequests>
    </div>
  </div>
</div>
