<div class="container p-5">
    <div class="container-fluid px-4">
        <div class="row gx-4">
          <div class="col">
           <div class="p-3 border bg-light">
               <h2>Pending Orders</h2>
               <div class="p-3 border bg-black text-white">
                    order list

               </div>
           </div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">
                <h2>ORDER</h2>
                <div class="p-3 border-1 bg-black text-white">
                 order name: _______ <br>
                 (order_id) <br>
                 details: __________ <br>
                    <br>
                 create a new order <br>
               </div>
            </div>
          </div>
        </div>
        <div class="container-fluid border bg-light mt-3">
            <div class="col p-3">
                hello
            </div>
        </div>
      </div>
</div>