<!-- <ng-container *ngIf=" userType === 'agent'; else elseTemplate">
<agent-homepage></agent-homepage>
</ng-container>
<ng-template #elseTemplate>
  <user-homepage></user-homepage>
</ng-template> -->


<span>
  @switch (sessionStore.role()) {
    @case ('agent') {
      <p>
        <agent-homepage></agent-homepage>
      </p>
    }
    @case ('customer') {
      <p>
        <user-homepage></user-homepage>
      </p>
    }
    @default {
      <p>
        @if (isLoading) {
          <generic-homepage></generic-homepage>
        }
      </p>
    }
  }
</span>